@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(front_page_PNG.png);
    height: 100vh;
    background-position: center;
}

header img {
    float: left;
    margin-top: 25px;
    margin-left: 190px;
}

.navigation-bar {
    float: left;
    list-style: none;
    margin-top: 40px;
    margin-left: 80px;
    word-spacing: 2em;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar li a {
    color: white;
    text-decoration: none;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: bold;
}

.navigation-bar li.active:hover {
    border-bottom: 4px solid #fff;
}

.login-bar {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 480px;
}

.login-bar li {
    display: inline-block;
}

.login-bar li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: bold;
}

.login-bar li a:hover {
    border-color: rgb(236, 165, 77);
    transition: ease in 0.5ms;
    color: white;
    opacity: 0.5;
}

.login-bar li b {
    color: rgb(14, 14, 105);
    background-color: white;
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: bold;
}

.login-bar li b:hover {
    background-color: rgb(236, 165, 77);
    transition: ease in 0.5ms;
    color: white;
}

.row {
    max-width: 1920px;
    margin: auto;
}

.text {
    font-family: "Raleway", sans-serif;
    position: absolute;
    margin-left: 200px;
    margin-top: 275px;
    font-style: bold;
}

.text h1 {
    color: white;
    font-size: 70px;
    line-height: 10px;
    font-weight: border;
}

.text p {
    color: white;
    font-size: 15px;
    margin-top: 60px;
    line-height: 20px;
    font-weight: border;
}

.button {
    float: right;
    list-style: none;
    position: absolute;
    margin-left: 200px;
    margin-top: 550px;
}

.button h1 {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: bold;
    background-color: rgb(255, 89, 105);
    padding: 20px 35px;
    border-radius: 5px;
    text-decoration: none;
}

.button h1:hover {
    background-color: rgb(255, 154, 164);
    padding: 20px 35px;
    border-radius: 5px;
    text-decoration: none;
    transition: ease in 1ms;
}