* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(front_page_PNG.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header img {
    float: left;
    margin-top: 25px;
    margin-left: 170px;
}

.navigation-bar {
    float: left;
    list-style: none;
    margin-top: 40px;
    margin-left: 80px;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: bold;
}

.navigation-bar li.active {
    border-bottom: 5px solid white;
    padding-bottom: 5px;
}

.login-bar {
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: 480px;
}

.login-bar li {
    display: inline-block;
}

.login-bar li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: bold;
}

.login-bar li b {
    color: rgb(45, 45, 219);
    background-color: white;
    padding: 16px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: bold;
}

.row {
    max-width: 1920px;
    margin: auto;
}